.navbar {
  padding: 1rem 2rem;
}
.nav-toggle {
  display: none;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* optional */
  flex-wrap: wrap;
}
.nav-links {
  height: auto;
  display: flex;
}
.nav-header {
  padding: 0 0;
}
.nav-link {
  padding: 0 0;
  margin-right: 0.7rem;
}
.nav-link:hover {
  padding: 0;
  color: var(--clr-primary-5);
  background: transparent;
}
.nav-icons {
  display: flex;
}
.nav-icon {
  margin-right: 0.7rem;
  color: var(--clr-primary-5);
  font-size: 1.2rem;
  transition: var(--transition);
}
.nav-icon:hover {
  color: var(--clr-primary-8);
}
